<header class="bg-gradient-to-r from-portfolio-azul-oscuro1 to-portfolio-azul-oscuro2 w-full">
    <div class="flex justify-between items-center py-3 px-4 lg:px-8">
        <div class="flex my-3 ml-4 items-center mr-10">
            <p class="font-bold text-slate-200 text-2xl">&lt;zamoIgnacio/&gt;</p>
        </div>
        <div class="flex lg:gap-24 gap-10">
            <ul class="flex justify-end py-4 my-3 mr-5 lg:gap-24 gap-10">
                <li><a href="#" class="font-bold text-slate-200 text-xl">Sobre mi</a></li>
                <li><a href="#" class="font-bold text-slate-200 text-xl">Habilidades</a></li>
                <li><a href="#" class="font-bold text-slate-200 text-xl">Portfolio</a></li>
                <li><a href="#" class="font-bold text-slate-200 text-xl">Contacto</a></li>
            </ul>
            <button class="border border-black rounded-lg p-3 my-5 mr-3 bg-portfolio-verde-agua"><a href="https://www.facebook.com/"  target="_blank" class="font-bold text-slate-200 text-lg">Descargar mi CV</a></button>

        </div>

    </div>
</header>

<style>
    

</style>