<div class="w-full h-fit bg-portfolio-azul-oscuro2 ">
    <div class="flex flex-col justify-center pt-10 gap-2 py-10">
        <h3 class="text-slate-200 lg:text-4xl text-2xl text-center font-bold font-fuente2">¡GRACIAS!</h3>
        <p class="text-slate-300 text-center text-sm lg:text-lg font-bold">Por tomarse el tiempo de ver mi portfolio.</p>
        <p class="text-slate-300 text-center text-sm lg:text-lg font-bold">Si has llegado hasta aquí, es un honor para mí.</p>
    </div>
    <div class="">
        <p class="text-white lg:text-xl text-lg text-end pr-10 pb-5">© 2023 Copyright - Creado por Ignacio Zamo</p>
    </div>

</div>