<header class="block z-indez-1">
    <div class="flex justify-between items-center py-3 px-4 lg:px-8 bg-gradient-to-r from-portfolio-azul-oscuro1 to-portfolio-azul-oscuro2 w-full fixed z-indez-1 mb-10">
        <div class="flex my-3 ml-4 items-center mr-10">
            <p class="font-bold text-slate-200 text-2xl">&lt;zamoIgnacio/&gt;</p>
        </div>
        <div class="lg:gap-24 gap-10 lg:flex hidden">
            <ul class="flex justify-end py-4 my-3 mr-5 lg:gap-12 gap-8 xl:gap:24">
                <li><a href="#inicio" class="font-bold text-slate-200 text-xl hover:text-xl">Inicio</a></li>
                <li><a href="#portfolio" class="font-bold text-slate-200 text-xl">Portfolio</a></li>
                <li><a href="#habilidades" class="font-bold text-slate-200 text-xl">Habilidades</a></li>
                <li><a href="#contacto" class="font-bold text-slate-200 text-xl">Contacto</a></li>
            </ul>
            <button class="border border-black rounded-lg p-3 my-5 mr-3 bg-portfolio-verde-agua"><a href="https://drive.google.com/uc?id=1rUhVp9TqpK4NSJ1geGoLPA2WZ2YbzfZ1&export=download"  class="font-bold text-slate-200 text-lg">Descargar mi CV</a></button>
        </div>

        <div class="lg:hidden block mr-5 my-3">
            <button id="boton" class="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-10 h-10 text-slate-50 hover:cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
    </div>
    
    <div id="menu-responsive" class="bg-gradient-to-b justify-center items-center flex-col from-portfolio-azul-oscuro2 to-portfolio-azul-oscuro1 w-44 h-fit right-0 top-36 rounded-lg fixed shadow-xl hidden">
        <div id="boton-cerrar-menu" class="ml-auto mt-3 mr-3 mb-3 hover:cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </div>
        <div class="">
            <ul class="flex flex-col gap-5 justify-center items-center mb-10 z-indez-2">
                <li><a href="#inicio" class="font-bold text-slate-200 text-xl">Inicio</a></li>
                <li><a href="#portfolio" class="font-bold text-slate-200 text-xl">Portfolio</a></li>
                <li><a href="#habilidades" class="font-bold text-slate-200 text-xl">Habilidades</a></li>
                <li><a href="#contacto" class="font-bold text-slate-200 text-xl">Contacto</a></li>
            </ul>
            <div class="flex justify-center items-center mb-5">
                <button class="border border-black rounded-lg p-3 bg-portfolio-verde-agua font-bold text-slate-200 text-sm"><a href="https://drive.google.com/uc?id=1zzI8Zu0nNCJ8FW-JMEpm11NMFsc272J2&export=download">Descargar mi CV</a></button>

            </div>
        </div>


    </div>
</header>

<style>
    .z-indez-1 {
        z-index: 1;
    }
    .z-indez-2 {
        z-index: 2;
    }

    div[id]{
        scroll-margin-top: 70px;
    }
</style>

<script src="./funciones/navBar.js"></script>