---


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio de Ignacio Zamo - Proyectos personales y conocimientos" />
		<meta property="og:image" content="https://i.ibb.co/xYN1fjx/Ignacio-Zamo-Cv.jpg">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Hedvig+Letters+Serif:opsz@12..24&family=Lora:wght@500&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://freesvg.org/img/suit_black.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Ignacio Zamo - Portfolio</title>
	</head>
	<body class="bg-zinc-100 font-fuente1">
		<slot />
		
	</body>
</html>
<style>
	html{
		scroll-behavior: smooth;
	}
</style>
