
<div class="lg:w-4/5 w-11/12 m-auto">
    <div class="my-16">
        <h1 class="block text-5xl border-b-2">Mi portfolio</h1>
    </div>

    <div class="w-2/3 my-10">
        <h2 class="text-3xl block border-b border-blue-500/50 mb-10">Proyectos</h2>
    </div>

    <div class="w-full flex lg:gap-10 gap-4 flex-wrap sm:flex-nowrap justify-start items-center my-10 border">
        <div class="border border-black bg-center h-56 w-96 bg-auto bg-no-repeat relative transition-all duration-300 ease-in-out" style="background-image: url('https://i.ibb.co/Gsp34PJ/reydelasado.png');">
    <div class="absolute inset-0 flex items-center justify-center bg-black/0 hover:bg-black/40 transition">
        <a href="#" class="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
        </a>
    </div>
</div>
        <div class="">
            <h3 class="font-bold lg:text-2xl text-lg mb-3">Rey del asado</h3>
            <p class="lg:text-xl text-sm">Web sobre un restaurante ficticio, que habla sobre el menú, servicios y calidad del mismo</p>
        </div>
    </div>

    <div class="w-2/3 my-10">
        <h2 class="text-3xl block border-b border-blue-500/50 mb-10">Proyectos de practica</h2>
    </div>
  
    <div class="w-full flex lg:gap-10 gap-4 flex-wrap sm:flex-nowrap justify-start items-center my-10 border">
        <div class="border border-black bg-center h-56 w-96 bg-auto bg-no-repeat relative" style="background-image: url('https://i.ibb.co/R0HhS5B/calculadroa-Simple.png');">
            <div class="absolute inset-0 flex items-center justify-center bg-black/0 hover:bg-black/40 transition">
            </div>
        </div>
        <div class="">
            <h3 class="font-bold lg:text-2xl text-lg mb-3">Calculadora Simple</h3>
            <p class="lg:text-xl text-sm">Calculadora simple desarrollada en mis primeras practicas utilizando JavaScript</p>
        </div>
    </div>

    <div class="w-full flex lg:gap-10 gap-4 flex-wrap sm:flex-nowrap justify-start items-center my-10 border">
        <div class="border border-black bg-center h-56 w-96 bg-auto bg-no-repeat relative" style="background-image: url('https://i.ibb.co/q97zQNc/generador-pass.png');">
            <div class="absolute inset-0 flex items-center justify-center bg-black/0 hover:bg-black/40 transition">
            </div>
        </div>
        <div class="">
            <h3 class="font-bold lg:text-2xl text-lg mb-3">Generador de contraseñas</h3>
            <p class="lg:text-xl text-sm">Programa que genera contraseñas personalizable</p>
        </div>
    </div>

    <div class="w-2/3 my-10">
        <h2 class="text-3xl block border-b border-blue-500/50 mb-10">Proyectos en equipo</h2>
    </div>

    <div class="w-full flex lg:gap-10 gap-4 flex-wrap sm:flex-nowrap justify-start items-center my-10 border">
        <div class="border border-black bg-center h-56 w-96 bg-auto bg-no-repeat relative" style="background-image: url('https://i.ibb.co/zJP0grz/generador-pass.png');">
            <div class="absolute inset-0 flex items-center justify-center bg-black/0 hover:bg-black/40 transition">
            </div>
        </div>
        <div class="">
            <h3 class="font-bold lg:text-2xl text-lg mb-3">Zelectric</h3>
            <p class="lg:text-xl text-sm">Web de mi negocio de productos electronicos, el cual desarrolle en equipo junto a otros profesionales.</p>
        </div>
    </div>



</div>